
{% extends "pages/index.html" %}
{% block content %}

  

<main id="master">
    <h1>{{home.heading}}</h1>
    <br>
    <img src="{{ home.img }}" class="img-respons"/>
    <br>
    <div class="jumbotron">
      <div class="row">
          <div class="col-md-6">
              <h1>Top Mascots</h1>
              <p>{{tagline.tagline}}</p>
              <ul>
                  {% for mascot in mascots %}
                      <li>
                          <strong>{{ mascot.name }}</strong>
                          representing {{ mascot.organization }}, born {{ mascot.birth_year }}
                      </li>
                  {% endfor %}
              </ul>
          </div>
          <div class="col-md-6">
              <img class="fit-picture img-respons"
              src="{{ home.img2 }}"
              alt="Ursus">
          </div>
          <div class="col-md-12">
              <table class="table table-striped">
                  <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for article in articles %}
                          <tr>
                              <th scope="row">{{ article.id }}</th>
                              <td>{{ article.title }}<td>
                              <td>{{ article.body }}<td>
                          </tr>
                      {% endfor %}                         
                    </tbody>
              </table>
          </div>
      </div>
  </div>
  
</main>
{% endblock %}